h2{font-size:1.875rem; display:inline-block; color:#333;}
h3{font-size:0.935rem; display:inline-block; color:#999;}

/*****퀵메뉴 디자인*****/

#quickmenu{position:fixed; right:20px; top:50%;
           z-index: 99; display:none;}
#quickmenu .quick{width:80px; height:80px; border-radius: 100%; background-color: #243560; margin-bottom:10px;}
#quickmenu .quick img{display:block; margin:0 auto; padding-top:15px;}
#quickmenu .top{background-color: #243560; border-radius:15px;
                text-align:center; color:#fff;
                font-size:0.875rem;
                padding:5px 0 5px 0;}


#top_popup{}
#top_popup img{width:100%; min-width:1024px;}
#top_popup .close{position:absolute; right:30px; top:55px;
                  text-indent: -9999999px;
                  background: url(../images/close.png) no-repeat; border:0;
                  width:27px; height:27px;
                  cursor: pointer;}
/*#top_popup .close::before{content:''; display:block;
                          width:2px; height:25px; background-color: #fff;
                          transform: rotate(45deg); position:absolute; top:10px;
                          left:60px;}
#top_popup .close::after{content:''; display:block;
                         width:2px; height:25px; background-color: #fff;
                         transform: rotate(-45deg); position:absolute; top:10px; left:60px;}*/

#notice{font-size:0.875rem;
        background-color: #243560;
        color:#fff;
        padding-top:10px; padding-bottom:10px;
        text-align: center;}

#sec1 img{width:100%;}

/*********************section****************************/
#sec2 .inner{position:relative;}
#sec2 .notice, #sec2 .purp{width:500px; height:100px;
                            /*박스의 공간이 줄었다 늘었다 하고 싶으면 이거*/
                           /*width:calc((100% - 50px) / 2)
                            공지사항 박스가 늘었다 줄었다 하고 싶으면 이거*/
                           background-color: rgba(36,53,96,0.8);
                           position:absolute; bottom:4px;
                           color:#fff; font-size:0.937rem;}
#sec2 .notice{left:0; border-radius:5px;}
#sec2 .purp{right:0; border-radius:5px;}
#sec2 .close1{float:right; background:none;
             margin-right:10px; margin-top:10px; cursor: pointer;}
#sec2 .close2{float:right; background:none;
             margin-right:10px; margin-top:10px; cursor: pointer;}
#sec2 .notice .tit, #sec2 .purp .tit,
#sec2 .notice_list, #sec2 .purp_list{margin-top:25px; margin-left:19px;}
#sec2 .notice_list, #sec2 .purp_list{width:450px; height:18px; overflow:hidden;}

#sec3 h2, h3{margin-bottom:30px;}
#sec3 .inner h2{margin-top:77px; margin-right:35px;}
#sec3 .inner > div{margin-right:35px; width:calc((100% - 70px) / 3);
                   height:400px; box-sizing: border-box;
                   overflow:hidden;
                   border:1px solid #e6e6e6; float:left;
                   position:relative;}
#sec3 .inner > div:last-child{margin-right:0;}
#sec3:after{content: ''; display: block; clear:both;}

/*a는 p보다 작은 개념. a안에 p를 넣으면 무조건 디스플레이 블록 주기*/
#sec3 .inner > div a{display:block; height:400px; box-sizing: border-box;}
#sec3 .inner > div a::before{content:''; display:block;
                             width:0; height:0;
                             position: absolute; top:0; left:0;
                             border:4px solid transparent;}
#sec3 .inner > div:hover a::before{width:calc(100% - 8px);
                                   height:calc(100% - 8px);
                                   border-top-color:#243560;
                                   border-right-color:#243560;
                                   transition:width 0.4s, height 0.4s 0.4s;}

#sec3 .inner > div a::after{content:''; display:block;
                                    width:0; height:0;
                                    position: absolute; bottom:0; right:0;
                                    border:4px solid transparent;}
#sec3 .inner > div:hover a::after{width:calc(100% - 8px);
                                   height:calc(100% - 8px);
                                   border-bottom-color:#243560;
                                   border-left-color:#243560;
                                   transition:width 0.4s, height 0.4s 0.4s;}


/* 그림을 좌우로 잘라서 하는 경우 */
/*#sec3 img{width:400px; position:relative; left:calc(50% - 200px);}*/

#sec3 .tit{font-size:1.5rem; font-weight: bold; text-align: center;
           margin-top:38px; color:#333; margin-bottom:40px;}
#sec3 .txt{text-align: center; margin-bottom:35px;}
#sec3 .clinic_img{margin-left:calc((100% - 110px) / 2);
                  margin-top:33px;}

#sec3 .clinic_txt{display:none; /*opacity 안됨. 하면 자리 잡힘*/}

#sec3 .inner > div button{transition:0.5s; padding:5px 10px;
                          border:1px solid #e6e6e6;
                          background-color: transparent;
                          margin-left:160px;}
#sec3 .inner > div:hover button{background-color: #243560; color:#fff;}
#sec3 .inner > div:hover .clinic_txt{display:block; text-align: center;
                                     margin-bottom:35px;}
#sec3 .inner > div:hover .clinic_img{display: block;}
#sec3 .inner > div:hover .txt{display:none;}

#sec4 .inner h2{margin-top:110px; margin-right:35px;}
#sec4 h2, h3{margin-bottom:30px;}
#sec4 .inner a{float:left; margin-bottom:110px;
               display:block; height:320px;
               overflow:hidden;}
#sec4 .banner1{width: 32.5%; margin-right:35px;}
#sec4 .banner1 img{position:relative; left:calc(50% - 208px);}
#sec4 .banner2{width: calc(67.5% - 35px);}

#sec5 h2, #sec5 h3{display:block;}
#sec5 h2{margin-top:40px; margin-bottom:30px;}
#sec5 .sec5_title{width:400px; float:left; margin-right:35px;}
#sec5 .sec5_title img{width:100%; margin-bottom:110px;}
#sec5 .sec5_cont{width:calc(100% - 435px); float:left;}


#sec6{position:relative;}
#sec6 h2{margin-bottom:30px;}
#sec6 img{width:100%;}
#sec6 button{width:100px; height:100px;
             background: url(../images/play.png) no-repeat;
             cursor: pointer;
             position:absolute; top:50%; left:48%;}


#sec7 h2{margin-top:110px; margin-right:35px;}
#sec7 .inner > div{margin-right:3px; width:calc((100% - 10px) / 3); height:380px;}
#sec7 .news{float: left; width:423px; height:380px;
            background-color: #F2F2F2;
            margin-bottom:130px;}
#sec7 .news img{width:100%;
                margin-bottom:20px;}

#sec7 .box1{font-size:0.75rem;
            background-color:  #EECE66;
            color:#fff;
            padding:5px 5px;}
#sec7 .box2{font-size:0.75rem;
            background-color: #243560;
            color:#fff;
            padding:5px 5px;}
#sec7 span{margin-left:20px; margin-right:8px;}
#sec7 .tit{font-size:1.125rem;
           font-weight: bold;
           color:#333;}
#sec7 .con{font-size:0.875rem; color:#999;
           margin-top:20px; margin-left:20px; margin-right:20px;}
#sec7 .more{font-size:0.875rem; color:#333;
            float:right; margin-top:35px; margin-right:20px;}